/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFF;
        padding: 22px 10px;
    }


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/header.png) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 500px;
    }

    .home-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    .home-sec h3 {
        text-transform: uppercase;
    }

    .titletext{
        padding-left: 20px;
        padding-right: 20px;
    }

.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  ABOUTUS STYLES 
  ===================================*/
#aboutus-sec {
    background-color: #000;
    color: #fff;
}

    #aboutus-sec .header-line {
        color: #fff;
    }
.aboutus-div h4 {
    line-height:30px;
    font-weight:700;
}
.aboutus-div {
    padding: 30px;
}

    .aboutus-div hr {
        border: 1px solid #1A94C4;
    }

    .aboutus-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .aboutus-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .aboutus-div img {
        background-color: #fff;
        border: 2px double #fff;
    }

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color:#2d3d5a;
    text-align:right;
    color:#fff;
    font-size:15px;
}
.link{
    text-decoration: underline;
}
    .link:hover{
        color:#1A94C4;
        text-decoration: none;
    }

.faq{
    
}
    .faq h4{
        color:#dddeeb;
        font-weight: bold;
    }

.socialmedia{
    text-align: center;
}

/* SPONSORS SECTION START */
.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  
  .sponsor {
    flex: 1 1 auto;
    margin: 20px;
  }
  
  .sponsor img {
    max-width: 150px;
    height: 65px;
  }
  
  @media (max-width: 768px) {
    .sponsors-container {
      flex-wrap: wrap;
    }
  
    .sponsor {
      flex-basis: calc(100% / 3 - 40px);
      margin: 10px;
    }
  }
/* SPONSORS SECTION END */
/* BLOG SECTION START */
.blog-post {
    padding-top: 20px;
    margin: 40px auto;
  }
  
  .blog-post img {
    margin: 20px 40px 0 40px;
    max-width: 35%;
    float: left;
    width: 300px;
    height: 260px;
    border-radius: 10px;
  }
  .blog-text{
    margin: 0 40px 40px 40px;
  }
  
  @media (max-width: 768px) {
    .blog-post{
        text-align: center;
    }
    
    .blog-post img {
        float: none;
        max-width: 100%;
        min-width: 250px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        
    }
    .blog-text{
        margin: 20px;
    }
  }
.blogheader hr{
    border: 1px solid #000000;
}
.timestamp {
    display: inline-block;
    align-items: center;
}
  
  .timestamp i {
    margin-right: 5px;
}

/* BLOG SECTION END */
/* PROJECT SECTION START */
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
	margin-top: 20px;
    /* margin-left: -50px;
    margin-right: -50px; */
    margin-bottom: 20px;
}
.project-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-card h4 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
}
.project-card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
}

.unity-container{
    text-align: center;
    padding-top: 100px;
}
/* PROJECT SECTION END */